.html .body{
    margin: 0;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 100px;
    width: 100%;
    z-index: -1;
    opacity: .8;

}
.header{

    min-height: 100vh;
    background-size: cover;
    height: 100vh;

}
.container{
    
    background-color:rgba(236, 251, 253, 0.719);
    width: 400px;
    height: 300px;
    padding: 20px;
    margin: auto ;
   
    

}
.container div button{

width: 300px;
height: 35px;
background-color:blue;
border-radius: 10px;
margin-left: 20px;
border-color: blue;
color: white;



}
.container div input{
    width: 300px;
    height: 30px;
    margin-top: 10px;
   display: block;
   margin-left: 20px;
   border-color: rgb(224, 61, 61);
   
 
}


.container div{
    margin-top: 10px;

}
.container div label{
    color: black;
    margin-left: 20px;
}
p{
color: black;
margin-left: 20px;


}
h1{
    margin-left: 60px;
    color: black;
    padding-left: 500px;
    padding-top: 50px;
}

